In [1]:
import pandas as pd
import gc
from tqdm import tqdm
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [2]:
df = pd.read_json('../Track1/user_video_act_train_1.json', lines=True)
df.head()

,activity,course_list,label_list
0,[{'course_id': 'C_course-v1:TsinghuaX+30240184...,"[C_course-v1:TsinghuaX+30240184+sp, C_course-v...","[0, 1, 0, 0]"
1,[{'course_id': 'C_course-v1:TsinghuaX+30700313...,"[C_course-v1:TsinghuaX+30700313X+sp, C_course-...","[0, 0, 1, 0]"
2,[{'course_id': 'C_course-v1:TsinghuaX+30640014...,"[C_course-v1:TsinghuaX+30640014X+sp, C_course-...","[0, 0, 0]"
3,[{'course_id': 'C_course-v1:TsinghuaX+00740043...,"[C_course-v1:TsinghuaX+00740043_2x_2015_T2+sp,...","[0, 1, 1]"
4,[{'course_id': 'C_course-v1:TsinghuaX+10800163...,"[C_course-v1:TsinghuaX+10800163X+sp, C_course-...","[0, 0, 1]"

In [3]:
df['item_id'] = ['V_{}'.format(i) for i in range(len(df))]
df.shape

(34048, 4)

In [4]:
df.head()

,activity,course_list,label_list,item_id
0,[{'course_id': 'C_course-v1:TsinghuaX+30240184...,"[C_course-v1:TsinghuaX+30240184+sp, C_course-v...","[0, 1, 0, 0]",V_0
1,[{'course_id': 'C_course-v1:TsinghuaX+30700313...,"[C_course-v1:TsinghuaX+30700313X+sp, C_course-...","[0, 0, 1, 0]",V_1
2,[{'course_id': 'C_course-v1:TsinghuaX+30640014...,"[C_course-v1:TsinghuaX+30640014X+sp, C_course-...","[0, 0, 0]",V_2
3,[{'course_id': 'C_course-v1:TsinghuaX+00740043...,"[C_course-v1:TsinghuaX+00740043_2x_2015_T2+sp,...","[0, 1, 1]",V_3
4,[{'course_id': 'C_course-v1:TsinghuaX+10800163...,"[C_course-v1:TsinghuaX+10800163X+sp, C_course-...","[0, 0, 1]",V_4

In [5]:
df.iloc[0, 0][0]

{'course_id': 'C_course-v1:TsinghuaX+30240184+sp',
 'video_id': 'V_102d2536030d47b4b343c3848f6f50b6',
 'watching_count': 1,
 'video_duration': 233.0,
 'local_watching_time': 186,
 'video_progress_time': 233.0,
 'video_start_time': 0.0,
 'video_end_time': 233.0,
 'local_start_time': '2019-04-04 21:13:20',
 'local_end_time': '2019-04-04 21:16:26'}

In [6]:
def activity_process(x):
    item_id = x['item_id']
    course_id = map(lambda x: x['course_id'], x['activity'])
    video_id = map(lambda x: x['video_id'], x['activity'])
    watching_count = map(lambda x: x['watching_count'], x['activity'])
    video_duration = map(lambda x: x['video_duration'], x['activity'])
    local_watching_time = map(lambda x: x['local_watching_time'], x['activity'])
    video_progress_time = map(lambda x: x['video_progress_time'], x['activity'])
    video_start_time = map(lambda x: x['video_start_time'], x['activity'])
    video_end_time = map(lambda x: x['video_end_time'], x['activity'])
    local_start_time = map(lambda x: x['local_start_time'], x['activity'])
    local_end_time = map(lambda x: x['local_end_time'], x['activity'])
    
    frame = pd.DataFrame({
        'item_id': item_id,
        'course_id': course_id,
        'video_id': video_id,
        'watching_count': watching_count,
        'video_duration': video_duration,
        'local_watching_time': local_watching_time,
        'video_progress_time': video_progress_time,
        'video_start_time': video_start_time,
        'video_end_time': video_end_time,
        'local_start_time': local_start_time,
        'local_end_time': local_end_time
    })
    return frame

s = df.apply(activity_process, axis=1)

activity = pd.concat([i for i in s], ignore_index=False)

del s
gc.collect()

print(activity.shape)
activity.head()

(2706682, 11)

,item_id,course_id,video_id,watching_count,video_duration,local_watching_time,video_progress_time,video_start_time,video_end_time,local_start_time,local_end_time
0,V_0,C_course-v1:TsinghuaX+30240184+sp,V_102d2536030d47b4b343c3848f6f50b6,1,233.0,186,233.000000,0.00,233.000000,2019-04-04 21:13:20,2019-04-04 21:16:26
1,V_0,C_course-v1:TsinghuaX+30240184+sp,V_4be5b36da31d4d15bc4afdd5a5cc1658,1,288.0,236,287.280000,0.72,288.000000,2019-04-04 21:20:35,2019-04-04 21:24:31
2,V_0,C_course-v1:TsinghuaX+00310222X+sp,V_4c914a96924c4ba2b6ecaa4f58336892,1,767.0,774,767.000000,0.00,767.000000,2016-11-28 19:05:59,2016-11-28 19:18:53
3,V_0,C_course-v1:TsinghuaX+30240184+sp,V_4f184a3de72d418caccbd3fa8624d5b6,3,209.0,613,209.000000,0.00,209.000000,2019-04-04 20:58:06,2019-04-04 21:08:35
4,V_0,C_course-v1:TsinghuaX+00310222X+sp,V_75f9b0188a2648358a469aee137f07be,2,1132.0,105,104.230011,0.00,231.550003,2016-12-02 09:49:02,2016-12-02 09:50:47

In [7]:
def label_process(x):
    item_id = x['item_id']
    course_id = x['course_list']
    label = x['label_list']
    
    frame = pd.DataFrame({
        'item_id': item_id,
        'course_id': course_id,
        'label': label
    })
    return frame

s = df.apply(label_process, axis=1)

del df
gc.collect()

label = pd.concat([i for i in s], ignore_index=False)

del s
gc.collect()

print(label.shape)
print(label['label'].mean())
label.head()

(187207, 3)
0.2872007991154177

  item_id                                   course_id  label
0     V_0           C_course-v1:TsinghuaX+30240184+sp      0
1     V_0          C_course-v1:TsinghuaX+00310222X+sp      1
2     V_0       C_course-v1:GXUST+2017041901X+2017_T1      0
3     V_0  C_course-v1:TsinghuaX+00740043X_2015_T2+sp      0
0     V_1          C_course-v1:TsinghuaX+30700313X+sp      0

In [8]:
activity.to_hdf('../../input/act_1_activity.h5', 'df', index=False)
label.to_hdf('../../input/act_1_label.h5', 'df', index=False)