In [1]:
import pandas as pd
import gc
from tqdm import tqdm
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [2]:
df = pd.read_json('../Track1/user_video_act_train_2.json', lines=True)
df.head()

,activity,course_list,label_list
0,[{'course_id': 'C_course-v1:TsinghuaX+20430064...,"[C_course-v1:TsinghuaX+20430064X+sp, C_course-...","[1, 1, 0, 0, 0]"
1,[{'course_id': 'C_course-v1:TsinghuaX+30640014...,"[C_course-v1:TsinghuaX+30640014X+sp, C_course-...","[0, 1, 1, 1]"
2,[{'course_id': 'C_course-v1:TsinghuaX+30240184...,"[C_course-v1:TsinghuaX+30240184+sp, C_course-v...","[0, 0, 0, 0, 1]"
3,[{'course_id': 'C_course-v1:TsinghuaX+20740042...,"[C_course-v1:TsinghuaX+20740042X+2019_T1, C_co...","[0, 0, 0, 1]"
4,[{'course_id': 'C_course-v1:TsinghuaX+00690092...,"[C_course-v1:TsinghuaX+00690092X+sp, C_course-...","[0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0]"

In [3]:
df['item_id'] = ['U_{}'.format(i) for i in range(len(df))]
df.shape

(7296, 4)

In [4]:
df.head()

,activity,course_list,label_list,item_id
0,[{'course_id': 'C_course-v1:TsinghuaX+20430064...,"[C_course-v1:TsinghuaX+20430064X+sp, C_course-...","[1, 1, 0, 0, 0]",U_0
1,[{'course_id': 'C_course-v1:TsinghuaX+30640014...,"[C_course-v1:TsinghuaX+30640014X+sp, C_course-...","[0, 1, 1, 1]",U_1
2,[{'course_id': 'C_course-v1:TsinghuaX+30240184...,"[C_course-v1:TsinghuaX+30240184+sp, C_course-v...","[0, 0, 0, 0, 1]",U_2
3,[{'course_id': 'C_course-v1:TsinghuaX+20740042...,"[C_course-v1:TsinghuaX+20740042X+2019_T1, C_co...","[0, 0, 0, 1]",U_3
4,[{'course_id': 'C_course-v1:TsinghuaX+00690092...,"[C_course-v1:TsinghuaX+00690092X+sp, C_course-...","[0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0]",U_4

In [5]:
df.iloc[0, 0][0]

{'course_id': 'C_course-v1:TsinghuaX+20430064X+sp',
 'video_id': 'V_05f095f52ac6446ba05b883171c66713',
 'watching_count': 1,
 'video_duration': 563.0,
 'local_watching_time': 563,
 'video_progress_time': 563.0,
 'video_start_time': 0.0,
 'video_end_time': 563.0,
 'local_start_time': '2017-07-24 13:26:56',
 'local_end_time': '2017-07-24 13:36:19'}

In [6]:
def activity_process(x):
    item_id = x['item_id']
    course_id = map(lambda x: x['course_id'], x['activity'])
    video_id = map(lambda x: x['video_id'], x['activity'])
    watching_count = map(lambda x: x['watching_count'], x['activity'])
    video_duration = map(lambda x: x['video_duration'], x['activity'])
    local_watching_time = map(lambda x: x['local_watching_time'], x['activity'])
    video_progress_time = map(lambda x: x['video_progress_time'], x['activity'])
    video_start_time = map(lambda x: x['video_start_time'], x['activity'])
    video_end_time = map(lambda x: x['video_end_time'], x['activity'])
    local_start_time = map(lambda x: x['local_start_time'], x['activity'])
    local_end_time = map(lambda x: x['local_end_time'], x['activity'])
    
    frame = pd.DataFrame({
        'item_id': item_id,
        'course_id': course_id,
        'video_id': video_id,
        'watching_count': watching_count,
        'video_duration': video_duration,
        'local_watching_time': local_watching_time,
        'video_progress_time': video_progress_time,
        'video_start_time': video_start_time,
        'video_end_time': video_end_time,
        'local_start_time': local_start_time,
        'local_end_time': local_end_time
    })
    return frame

s = df.apply(activity_process, axis=1)

activity = pd.concat([i for i in s], ignore_index=False)

del s
gc.collect()

print(activity.shape)
activity.head()

(581676, 11)

,item_id,course_id,video_id,watching_count,video_duration,local_watching_time,video_progress_time,video_start_time,video_end_time,local_start_time,local_end_time
0,U_0,C_course-v1:TsinghuaX+20430064X+sp,V_05f095f52ac6446ba05b883171c66713,1,563.0,563,563.000000,0.0,563.00,2017-07-24 13:26:56,2017-07-24 13:36:19
1,U_0,C_course-v1:TsinghuaX+34000888X+sp,V_0d166f12024942fca500891c0346b86a,1,166.0,166,166.000000,0.0,166.00,2017-07-06 14:47:00,2017-07-06 14:49:46
2,U_0,C_course-v1:TsinghuaX+00691153X+sp,V_0d2ed7b0f77647388d3ad5420d1d6549,2,415.0,415,414.809998,0.0,415.00,2017-07-13 09:01:58,2017-07-13 13:18:15
3,U_0,C_course-v1:TsinghuaX+20430064X+sp,V_10355a6a239c4a1dbc28e99bfb7633c1,1,173.0,174,173.000000,0.0,173.00,2017-07-24 13:11:47,2017-07-24 13:14:41
4,U_0,C_course-v1:TsinghuaX+34000888X+sp,V_11f15f23fca948808b5f44e25b75f6a2,1,63.0,19,18.820000,0.0,18.82,2017-07-06 14:56:18,2017-07-06 14:56:37

In [7]:
def label_process(x):
    item_id = x['item_id']
    course_id = x['course_list']
    label = x['label_list']
    
    frame = pd.DataFrame({
        'item_id': item_id,
        'course_id': course_id,
        'label': label
    })
    return frame

s = df.apply(label_process, axis=1)

del df
gc.collect()

label = pd.concat([i for i in s], ignore_index=False)

del s
gc.collect()

print(label.shape)
label.head()

(40727, 3)

  item_id                                  course_id  label
0     U_0         C_course-v1:TsinghuaX+20430064X+sp      1
1     U_0         C_course-v1:TsinghuaX+34000888X+sp      1
2     U_0         C_course-v1:TsinghuaX+00691153X+sp      0
3     U_0           C_course-v1:TsinghuaX+400182X+sp      0
4     U_0  C_course-v1:TsinghuaX+10421075X_2015_2+sp      0

In [8]:
activity.to_hdf('../../input/act_2_activity.h5', 'df', index=False)
label.to_hdf('../../input/act_2_label.h5', 'df', index=False)