In [1]:
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_hdf('../input/train.h5')
train.head()

,android_id,apptype,carrier,dev_height,dev_ppi,dev_width,label,lan,media_id,ntt,osv,package,sid,timestamp,version,fea_hash,location,fea1_hash,cus_type
0,316361,1199,1.0,NaN,NaN,NaN,1,NaN,104,6.0,9.0,18,1438873,2019-06-07 15:32:01,8,2135019403,0,2329670524,601
1,135939,893,NaN,NaN,NaN,NaN,1,NaN,19,6.0,8.0,0,1185582,2019-06-08 19:40:40,4,2782306428,1,2864801071,1000
2,399254,821,NaN,760.0,NaN,360.0,1,NaN,559,NaN,8.0,0,1555716,2019-06-06 23:59:13,0,1392806005,2,628911675,696
3,68983,1004,1.0,2214.0,NaN,1080.0,0,NaN,129,2.0,8.0,0,1093419,2019-06-09 09:00:12,0,3562553457,3,1283809327,753
4,288999,1076,1.0,2280.0,NaN,1080.0,1,1.0,64,2.0,8.0,0,1400089,2019-06-07 08:28:13,5,2364522023,4,1510695983,582

In [3]:
test1 = pd.read_hdf('../input/test1.h5')
test1.head()

,android_id,apptype,carrier,dev_height,dev_ppi,dev_width,lan,media_id,ntt,osv,package,sid,timestamp,version,fea_hash,location,fea1_hash,cus_type
0,317625,1181,1.0,2196.0,2.0,1080.0,1.0,639,2.0,8.0,188,1440682,2019-06-07 09:42:30,7,1672223856,57,3872258917,658
1,435108,944,3.0,2280.0,3.0,1080.0,1.0,704,6.0,8.0,221,1606824,2019-06-05 20:53:56,3,3767901757,23,129322164,943
2,0,1106,1.0,NaN,NaN,NaN,NaN,39,2.0,5.0,1562,1774642,2019-06-04 10:07:42,0,454638703,30,4226678391,411
3,451504,761,1.0,1344.0,NaN,720.0,NaN,54,2.0,7.0,9,1742535,2019-06-05 01:03:22,0,1507622951,65,3355419572,848
4,0,1001,1.0,665.0,NaN,320.0,1.0,29,5.0,8.0,4,1689686,2019-06-05 08:15:54,0,4116351093,148,2644467751,411

In [4]:
concat_data = pd.concat([train, test1],
                        ignore_index=True)
concat_data.head()

,android_id,apptype,carrier,cus_type,dev_height,dev_ppi,dev_width,fea1_hash,fea_hash,label,lan,location,media_id,ntt,osv,package,sid,timestamp,version
0,316361,1199,1.0,601,NaN,NaN,NaN,2329670524,2135019403,1.0,NaN,0,104,6.0,9.0,18,1438873,2019-06-07 15:32:01,8
1,135939,893,NaN,1000,NaN,NaN,NaN,2864801071,2782306428,1.0,NaN,1,19,6.0,8.0,0,1185582,2019-06-08 19:40:40,4
2,399254,821,NaN,696,760.0,NaN,360.0,628911675,1392806005,1.0,NaN,2,559,NaN,8.0,0,1555716,2019-06-06 23:59:13,0
3,68983,1004,1.0,753,2214.0,NaN,1080.0,1283809327,3562553457,0.0,NaN,3,129,2.0,8.0,0,1093419,2019-06-09 09:00:12,0
4,288999,1076,1.0,582,2280.0,NaN,1080.0,1510695983,2364522023,1.0,1.0,4,64,2.0,8.0,0,1400089,2019-06-07 08:28:13,5

In [5]:
concat_data.shape

(650000, 19)

In [6]:
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650000 entries, 0 to 649999
Data columns (total 19 columns):
android_id    650000 non-null object
apptype       650000 non-null int16
carrier       565574 non-null float64
cus_type      650000 non-null int16
dev_height    510787 non-null float16
dev_ppi       151376 non-null float16
dev_width     510790 non-null float16
fea1_hash     650000 non-null int64
fea_hash      650000 non-null object
label         500000 non-null float64
lan           411171 non-null float64
location      650000 non-null int16
media_id      650000 non-null object
ntt           623201 non-null float16
osv           641446 non-null float64
package       650000 non-null object
sid           650000 non-null object
timestamp     650000 non-null object
version       650000 non-null int64
dtypes: float16(4), float64(4), int16(3), int64(2), object(6)
memory usage: 68.2+ MB

In [7]:
train_train_X, train_eval_X, train_train_y, train_eval_y = train_test_split(train.drop('label', axis=1), train['label'],
                                                                            random_state=202)

In [8]:
id_feat = ['sid', 'android_id']

In [9]:
train_cols = [i for i in train.columns if i not in ['timestamp', 'label', 'package', 'media_id', 'fea_hash'] + id_feat]

y = 'label'

lgb_train = lgb.Dataset(train_train_X[train_cols].values, train_train_y) 

lgb_eval= lgb.Dataset(train_eval_X[train_cols].values, train_eval_y, reference=lgb_train)  



params = {

'task': 'train',

'boosting_type': 'gbdt',

'objective': 'binary',

'metric': 'auc',

'num_leaves': 255,

'learning_rate': 0.05,

'feature_fraction': 0.95,

'bagging_fraction': 0.85,

'bagging_freq': 5, 

'min_data_in_leaf':15,

'verbose': 0 

}

print('Start training...')

# train

gbm_val_0 = lgb.train(params,

lgb_train,

num_boost_round=2000,

valid_sets=[lgb_eval, lgb_train],

early_stopping_rounds=50,verbose_eval=10)

Start training...
Training until validation scores don't improve for 50 rounds
[10]	training's auc: 0.934694	valid_0's auc: 0.933137
[20]	training's auc: 0.93635	valid_0's auc: 0.934609
[30]	training's auc: 0.938241	valid_0's auc: 0.936358
[40]	training's auc: 0.939474	valid_0's auc: 0.937309
[50]	training's auc: 0.940649	valid_0's auc: 0.938215
[60]	training's auc: 0.941918	valid_0's auc: 0.939114
[70]	training's auc: 0.942963	valid_0's auc: 0.939602
[80]	training's auc: 0.943935	valid_0's auc: 0.939946
[90]	training's auc: 0.944895	valid_0's auc: 0.940234
[100]	training's auc: 0.945781	valid_0's auc: 0.940429
[110]	training's auc: 0.946719	valid_0's auc: 0.940631
[120]	training's auc: 0.94757	valid_0's auc: 0.940744
[130]	training's auc: 0.948358	valid_0's auc: 0.940862
[140]	training's auc: 0.949069	valid_0's auc: 0.940936
[150]	training's auc: 0.949821	valid_0's auc: 0.940959
[160]	training's auc: 0.950462	valid_0's auc: 0.941003
[170]	training's auc: 0.95111	valid_0's auc: 0.940978
[180]	training's auc: 0.951758	valid_0's auc: 0.941009
[190]	training's auc: 0.952311	valid_0's auc: 0.941009
[200]	training's auc: 0.953023	valid_0's auc: 0.941009
[210]	training's auc: 0.953566	valid_0's auc: 0.941019
[220]	training's auc: 0.954065	valid_0's auc: 0.941002
[230]	training's auc: 0.954545	valid_0's auc: 0.940976
[240]	training's auc: 0.955041	valid_0's auc: 0.94097
[250]	training's auc: 0.955605	valid_0's auc: 0.940983
Early stopping, best iteration is:
[203]	training's auc: 0.953192	valid_0's auc: 0.941031

In [10]:
test1['label'] = np.where(gbm_val_0.predict(test1[train_cols]) > 0.5, 1, 0)
test1[['sid', 'label']].to_csv('../results/sub_baseline.csv', index=False)