In [1]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import warnings
warnings.filterwarnings('ignore')

In [2]:
water = pd.read_excel('../input/入库流量数据.xlsx')
water.head()

          TimeStample        Qi
0 2013-01-01 02:00:00  0.018201
1 2013-01-01 05:00:00  0.018196
2 2013-01-01 08:00:00  0.030095
3 2013-01-01 11:00:00  0.123196
4 2013-01-01 14:00:00  0.133178

In [3]:
water.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15019 entries, 0 to 15018
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TimeStample  15019 non-null  datetime64[ns]
 1   Qi           15019 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 234.8 KB

In [4]:
train1 = water.loc[(water['TimeStample'] >= '2017-01-01 02:00:00') & (water['TimeStample'] < '2017-02-01 00:00:00')]
train2 = water.loc[(water['TimeStample'] >= '2017-07-01 02:00:00') & (water['TimeStample'] < '2017-08-01 00:00:00')]
train3 = water.loc[(water['TimeStample'] >= '2017-10-01 02:00:00') & (water['TimeStample'] < '2017-11-01 00:00:00')]
print(train1.shape, train2.shape, train3.shape)


test1 = pd.DataFrame({'TimeStample': pd.date_range(start='2018-02-01 02:00:00', periods=56, freq='3h')})
test2 = pd.DataFrame({'TimeStample': pd.date_range(start='2018-08-01 02:00:00', periods=56, freq='3h')})
test3 = pd.DataFrame({'TimeStample': pd.date_range(start='2018-11-01 02:00:00', periods=56, freq='3h')})
print(test1.shape, test2.shape, test3.shape)

(248, 2) (248, 2) (248, 2)
(56, 1) (56, 1) (56, 1)

In [5]:
# y_train1 = water.loc[(water['TimeStample'] >= '2017-02-01 02:00:00') & (water['TimeStample'] <= '2017-02-07 23:00:00')]
# y_train2 = water.loc[(water['TimeStample'] >= '2017-08-01 02:00:00') & (water['TimeStample'] <= '2017-08-07 23:00:00')]
# y_train3 = water.loc[(water['TimeStample'] >= '2017-11-01 02:00:00') & (water['TimeStample'] <= '2017-11-07 23:00:00')]
# print(y_train1.shape, y_train2.shape, y_train3.shape)

# y_train1 = y_train1['Qi'].values
# y_train2 = y_train2['Qi'].values
# y_train3 = y_train3['Qi'].values

In [6]:
train_test1 = pd.concat([train1, test1], ignore_index=True, axis=0)
train_test2 = pd.concat([train2, test2], ignore_index=True, axis=0)
train_test3 = pd.concat([train3, test3], ignore_index=True, axis=0)
train_test1.shape

(304, 2)

In [7]:
train_test1.to_csv('../input/train_test1_2017.csv', index=False)
train_test2.to_csv('../input/train_test2_2017.csv', index=False)
train_test3.to_csv('../input/train_test3_2017.csv', index=False)