In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [2]:
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')

In [3]:
train.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,0,"[{'id': 86780, 'name': 'Clash of the Titans Co...",150000000,"[{'id': 12, 'name': 'Adventure'}]",http://www.wrathofthetitansmovie.org,tt1646987,en,Wrath of the Titans,A decade after his heroic defeat of the monstr...,7.739904,/Albfq3ziSCQVyh5PzMSsFmmgHmy.jpg,"[{'name': 'Legendary Pictures', 'id': 923}, {'...","[{'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_...",3/27/12,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Feel the Wrath,Wrath of the Titans,"[{'id': 1449, 'name': 'underworld'}, {'id': 20...","[{'cast_id': 4, 'character': 'Perseus', 'credi...","[{'credit_id': '52fe4926c3a36847f818b96d', 'de...",301000000
1,1,NaN,35000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,tt0120681,en,From Hell,Frederick Abberline is an opium-huffing inspec...,7.790140,/f3J77Cy3pRSeeN52Pk8oIvgi6IN.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'...",10/19/01,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Only the legend will survive.,From Hell,"[{'id': 1465, 'name': 'loss of family'}, {'id'...","[{'cast_id': 19, 'character': 'Inspector Frede...","[{'credit_id': '52fe4273c3a36847f801fbfb', 'de...",74558115
2,2,NaN,4000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0061735,en,Guess Who's Coming to Dinner,Matt and Christina Drayton are a couple whose ...,5.032469,/bhdXWhembE6a6q11NqpUcEdtAbw.jpg,"[{'name': 'Stanley Kramer Productions', 'id': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/11/67,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A love story of today,Guess Who's Coming to Dinner,"[{'id': 582, 'name': 'san francisco'}, {'id': ...","[{'cast_id': 1, 'character': 'Matt Drayton', '...","[{'credit_id': '52fe431dc3a36847f803b563', 'de...",56666667
3,3,NaN,72500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.sonypictures.com/homevideo/talladeg...,tt0415306,en,Talladega Nights: The Ballad of Ricky Bobby,Lifelong friends and national idols Ricky Bobb...,6.936688,/hi8whfL7t6cL2LITLJjzJ7UWuZA.jpg,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",8/4/06,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The story of a man who could only count to #1,Talladega Nights: The Ballad of Ricky Bobby,"[{'id': 5922, 'name': 'north carolina'}, {'id'...","[{'cast_id': 8, 'character': 'Ricky Bobby', 'c...","[{'credit_id': '52fe4521c3a36847f80be20f', 'de...",162966177
4,4,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10402, ...",NaN,tt0081777,en,Xanadu,A beautiful muse inspires an artist and his ol...,3.782547,/wc3dC8DrI6qgD5sQlIkbjU7wcaS.jpg,"[{'name': 'Universal Pictures', 'id': 33}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/8/80,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A Fantasy, A Musical, A Place Where Dreams Com...",Xanadu,"[{'id': 4344, 'name': 'musical'}, {'id': 6234,...","[{'cast_id': 1, 'character': 'Kira', 'credit_i...","[{'credit_id': '53700504c3a368121800ea1b', 'de...",22471595

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2400 non-null   int64
 1   belongs_to_collection  479 non-null    object
 2   budget                 2400 non-null   int64
 3   genres                 2393 non-null   object
 4   homepage               754 non-null    object
 5   imdb_id                2400 non-null   object
 6   original_language      2400 non-null   object
 7   original_title         2400 non-null   object
 8   overview               2394 non-null   object
 9   popularity             2400 non-null   float64
 10  poster_path            2399 non-null   object
 11  production_companies   2275 non-null   object
 12  production_countries   2356 non-null   object
 13  release_date           2400 non-null   object
 14  runtime                2398 non-null   float64
 15  spoken_languages       2386 non-null   object
 16  status                 2400 non-null   object
 17  tagline                1918 non-null   object
 18  title                  2400 non-null   object
 19  Keywords               2178 non-null   object
 20  cast                   2390 non-null   object
 21  crew                   2387 non-null   object
 22  revenue                2400 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 431.4+ KB

In [5]:
train['imdb_id'].nunique()

2400

In [6]:
train['original_language'].nunique()

35

In [7]:
train['original_language'].unique()

array(['en', 'fr', 'cn', 'ru', 'hi', 'ro', 'de', 'sv', 'tr', 'no', 'es',
       'ja', 'bn', 'ta', 'ko', 'it', 'ml', 'zh', 'hu', 'nl', 'fa', 'fi',
       'te', 'pt', 'da', 'el', 'cs', 'vi', 'pl', 'nb', 'he', 'id', 'mr',
       'ar', 'ur'], dtype=object)

In [8]:
train.corr()

                  id    budget  popularity   runtime   revenue
id          1.000000 -0.032039   -0.026772 -0.026906 -0.014646
budget     -0.032039  1.000000    0.367651  0.233737  0.756382
popularity -0.026772  0.367651    1.000000  0.150293  0.476102
runtime    -0.026906  0.233737    0.150293  1.000000  0.214462
revenue    -0.014646  0.756382    0.476102  0.214462  1.000000

In [10]:
train['release_date'].unique()

array(['3/27/12', '10/19/01', '12/11/67', ..., '3/8/90', '4/16/04',
       '6/27/06'], dtype=object)

In [11]:
train['release_date'].nunique()

2008

In [12]:
print(train['release_date'].unique())

['3/27/12' '10/19/01' '12/11/67' ... '3/8/90' '4/16/04' '6/27/06']

In [15]:
print(train['release_date'].apply(lambda x: len(x.split('/'))).unique())

[3]

In [18]:
train['release_year'] = train['release_date'].apply(lambda x: '19' + x.split('/')[2] if int(x.split('/')[2]) > 20 else '20' + x.split('/')[2])
train['release_month'] = train['release_date'].apply(lambda x: x.split('/')[0])
train['release_day'] = train['release_date'].apply(lambda x: x.split('/')[1])

train['release_date'] = pd.to_datetime(train['release_year'] + '-' + train['release_month'] + '-' + train['release_day'])

In [19]:
train['release_date'][:10]

0   2012-03-27
1   2001-10-19
2   1967-12-11
3   2006-08-04
4   1980-08-08
5   2015-01-29
6   1992-07-10
7   2017-03-23
8   2010-06-17
9   2013-07-30
Name: release_date, dtype: datetime64[ns]

In [20]:
train['release_date_gap'] = (pd.to_datetime('11/21/20') - train['release_date']).dt.days

In [22]:
train['release_date_gap'][:10]

0     3161
1     6973
2    19339
3     5223
4    14715
5     2123
6    10361
7     1339
8     3810
9     2671
Name: release_date_gap, dtype: int64

In [21]:
train.corr()

,id,budget,popularity,runtime,revenue,release_date_gap
id,1.000000,-0.032039,-0.026772,-0.026906,-0.014646,0.034057
budget,-0.032039,1.000000,0.367651,0.233737,0.756382,-0.215585
popularity,-0.026772,0.367651,1.000000,0.150293,0.476102,-0.104183
runtime,-0.026906,0.233737,0.150293,1.000000,0.214462,0.028455
revenue,-0.014646,0.756382,0.476102,0.214462,1.000000,-0.141643
release_date_gap,0.034057,-0.215585,-0.104183,0.028455,-0.141643,1.000000

In [24]:
train['status'].unique()

array(['Released', 'Rumored'], dtype=object)

In [25]:
test['status'].unique()

array(['Released', 'Rumored'], dtype=object)

In [26]:
train.groupby('status')['revenue'].agg(['count', 'mean'])

          count          mean
status
Released   2397  6.594524e+07
Rumored       3  4.563932e+06

In [27]:
test.groupby('status')['id'].agg(['count'])

          count
status
Released    599
Rumored       1