In [1]:
import numpy as np
import pandas as pd

In [2]:
res = pd.read_csv('../sub/sub_20200619_0.874.csv')
res.head()

                                          phone_no_m  label
0  22d522340df77e2252c1a4d92b4bcb00d515e36f3ec6bf...      0
1  5220d4b8429bdba3971a7b46a088c6b8fa6710f4060759...      1
2  7d19dd2b50ced56f03d23bf928cf34dc570a48525571a8...      0
3  134a4a591185c9d3788021896dcfc235e9e0a6a1e3f8a4...      0
4  2356dcd6759d50455ddaeed03c838843558e9182d5962f...      0

In [3]:
fea = pd.read_hdf('../input/test_user.h5')
fea.head()

,phone_no_m,city_name,county_name,idcard_cnt,arpu_202004
0,22d522340df77e2252c1a4d92b4bcb00d515e36f3ec6bf...,成都,金牛分公司,1,9.00
1,5220d4b8429bdba3971a7b46a088c6b8fa6710f4060759...,天府新区,天府直属部门,1,NaN
2,7d19dd2b50ced56f03d23bf928cf34dc570a48525571a8...,成都,锦江分公司,1,9.00
3,134a4a591185c9d3788021896dcfc235e9e0a6a1e3f8a4...,绵阳,江油分公司,1,138.75
4,2356dcd6759d50455ddaeed03c838843558e9182d5962f...,成都,青羊分公司,2,39.00

In [4]:
fea = fea[['phone_no_m', 'arpu_202004']]
fea.head()

                                          phone_no_m  arpu_202004
0  22d522340df77e2252c1a4d92b4bcb00d515e36f3ec6bf...         9.00
1  5220d4b8429bdba3971a7b46a088c6b8fa6710f4060759...          NaN
2  7d19dd2b50ced56f03d23bf928cf34dc570a48525571a8...         9.00
3  134a4a591185c9d3788021896dcfc235e9e0a6a1e3f8a4...       138.75
4  2356dcd6759d50455ddaeed03c838843558e9182d5962f...        39.00

In [5]:
res = res.merge(fea, on='phone_no_m', how='left')
res.head()

                                          phone_no_m  label  arpu_202004
0  22d522340df77e2252c1a4d92b4bcb00d515e36f3ec6bf...      0         9.00
1  5220d4b8429bdba3971a7b46a088c6b8fa6710f4060759...      1          NaN
2  7d19dd2b50ced56f03d23bf928cf34dc570a48525571a8...      0         9.00
3  134a4a591185c9d3788021896dcfc235e9e0a6a1e3f8a4...      0       138.75
4  2356dcd6759d50455ddaeed03c838843558e9182d5962f...      0        39.00

In [6]:
res.loc[res['arpu_202004'].isnull(), 'label'] = 1
res[['phone_no_m', 'label']].to_csv('../sub/sub_postproc.csv', index=False)