In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

import lightgbm as lgb

In [2]:
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')
sub = pd.DataFrame(test['time'])

In [3]:
train.columns = ['time', 'year', 'month', 'day', 'hour', 'min', 'sec',
                 'outdoorTemp', 'outdoorHum', 'outdoorAtmo',
                 'indoorHum', 'indoorAtmo', 'temperature']
test.columns = ['time', 'year', 'month', 'day', 'hour', 'min', 'sec',
                'outdoorTemp', 'outdoorHum', 'outdoorAtmo',
                'indoorHum', 'indoorAtmo']

In [4]:
train = train[train['temperature'].notnull()]
train = train.sort_values(by='time')
test = test.sort_values(by='time')

In [5]:
train.head().append(train.tail())

,time,year,month,day,hour,min,sec,outdoorTemp,outdoorHum,outdoorAtmo,indoorHum,indoorAtmo,temperature
0,1552496443,2019,3,14,1,0,43,14.6,85.0,993.1,80.0,992.4,15.4
1,1552496503,2019,3,14,1,1,43,14.7,84.0,993.0,80.0,992.6,15.4
2,1552496565,2019,3,14,1,2,45,14.7,84.0,992.7,80.0,992.8,15.4
3,1552496624,2019,3,14,1,3,44,14.6,85.0,993.2,80.0,992.6,15.4
4,1552496682,2019,3,14,1,4,42,14.6,85.0,992.7,80.0,992.6,15.3
25492,1554224151,2019,4,3,0,55,51,17.3,78.0,983.8,75.0,982.2,17.4
25493,1554224212,2019,4,3,0,56,52,17.3,77.0,983.4,75.0,982.5,17.4
25494,1554224272,2019,4,3,0,57,52,17.3,77.0,983.1,75.0,982.2,17.4
25495,1554224332,2019,4,3,0,58,52,17.3,77.0,983.3,75.0,982.5,17.4
25496,1554224391,2019,4,3,0,59,51,17.2,77.0,982.9,75.0,982.4,17.4

In [6]:
test.head(5).append(test.tail())

,time,year,month,day,hour,min,sec,outdoorTemp,outdoorHum,outdoorAtmo,indoorHum,indoorAtmo
0,1554224413,2019,4,3,1,0,13,15.3,91.0,988.0,88.0,988.3
1,1554226217,2019,4,3,1,30,17,15.4,91.0,987.8,88.0,988.0
2,1554228020,2019,4,3,2,0,20,15.3,92.0,988.0,89.0,988.3
3,1554229823,2019,4,3,2,30,23,15.2,92.0,988.1,89.0,988.7
4,1554231625,2019,4,3,3,0,25,15.5,91.0,987.9,88.0,987.9
401,1555081072,2019,4,12,22,57,52,21.9,66.0,980.8,66.0,978.6
402,1555082935,2019,4,12,23,28,55,21.6,66.0,981.7,65.0,979.6
403,1555084737,2019,4,12,23,58,57,22.1,65.0,979.8,65.0,980.5
404,1555086487,2019,4,13,0,28,7,26.7,44.0,975.9,48.0,976.8
405,1555088229,2019,4,13,0,57,9,27.1,43.0,975.7,47.0,976.8

In [9]:
train.fillna(method='bfill', inplace=True)
test.fillna(method='bfill', inplace=True)

data = pd.concat([train, test])

In [10]:
data.head()

,time,year,month,day,hour,min,sec,outdoorTemp,outdoorHum,outdoorAtmo,indoorHum,indoorAtmo,temperature
0,1552496443,2019,3,14,1,0,43,14.6,85.0,993.1,80.0,992.4,15.4
1,1552496503,2019,3,14,1,1,43,14.7,84.0,993.0,80.0,992.6,15.4
2,1552496565,2019,3,14,1,2,45,14.7,84.0,992.7,80.0,992.8,15.4
3,1552496624,2019,3,14,1,3,44,14.6,85.0,993.2,80.0,992.6,15.4
4,1552496682,2019,3,14,1,4,42,14.6,85.0,992.7,80.0,992.6,15.3

In [12]:
data['datetime'] = data.apply(lambda x: datetime(x['year'].astype(int), x['month'].astype(int), x['day'].astype(int), x['hour'].astype(int), x['min'].astype(int), x['sec'].astype(int)), axis=1)

In [13]:
data.head()

,time,year,month,day,hour,min,sec,outdoorTemp,outdoorHum,outdoorAtmo,indoorHum,indoorAtmo,temperature,datetime
0,1552496443,2019,3,14,1,0,43,14.6,85.0,993.1,80.0,992.4,15.4,2019-03-14 01:00:43
1,1552496503,2019,3,14,1,1,43,14.7,84.0,993.0,80.0,992.6,15.4,2019-03-14 01:01:43
2,1552496565,2019,3,14,1,2,45,14.7,84.0,992.7,80.0,992.8,15.4,2019-03-14 01:02:45
3,1552496624,2019,3,14,1,3,44,14.6,85.0,993.2,80.0,992.6,15.4,2019-03-14 01:03:44
4,1552496682,2019,3,14,1,4,42,14.6,85.0,992.7,80.0,992.6,15.3,2019-03-14 01:04:42

In [14]:
numerical_features = ['outdoorTemp', 'outdoorHum', 'outdoorAtmo', 'indoorHum', 'indoorAtmo']

In [15]:
data.set_index('datetime', inplace=True)

In [ ]:
data['indoorHum-outdoorHum'] = data['indoorHum'] - data['outdoorHum']
data['indoorAtmo-outdoorAtmo'] = data['indoorAtmo'] - data['outdoorAtmo']

In [16]:
# for i in numerical_features:
#     for j in ['60s', '90s', '120s']:
#         data['{}_{}_mean'.format(i, j)] = data[i].rolling(j).mean()

In [17]:
params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': 'mse',
    'min_child_weight': 5,
    'num_leaves': 2 ** 8,
    'feature_fraction': 0.5,
    'bagging_fraction': 0.5,
    'bagging_freq': 1,
    'learning_rate': 0.1,
    'seed': 2020
}

In [18]:
time_cols = ['year', 'month', 'day', 'hour', 'min', 'sec'] + ['time', 'datetime']

In [19]:
train_cols = [i for i in data.columns if i not in time_cols]
y = 'temperature'

data.reset_index(inplace=True)

train = data[data['temperature'].notnull()]
test = data[data['temperature'].isnull()]

X_train, X_valid, y_train, y_valid = train_test_split(train[train_cols], train[y],
                                                      test_size=0.2,
                                                      random_state=2020) 
train_data = lgb.Dataset(X_train, label=y_train)
valid_data = lgb.Dataset(X_valid, label=y_valid, reference=train_data)
train_all = lgb.Dataset(train[train_cols], label=train[y], reference=train_data)

In [26]:
data.head()

,datetime,time,year,month,day,hour,min,sec,outdoorTemp,outdoorHum,...,outdoorHum_120s_mean,outdoorAtmo_60s_mean,outdoorAtmo_90s_mean,outdoorAtmo_120s_mean,indoorHum_60s_mean,indoorHum_90s_mean,indoorHum_120s_mean,indoorAtmo_60s_mean,indoorAtmo_90s_mean,indoorAtmo_120s_mean
0,2019-03-14 01:00:43,1552496443,2019,3,14,1,0,43,14.6,85.0,...,85.000000,993.10,993.10,993.100000,80.0,80.0,80.0,992.4,992.4,992.400000
1,2019-03-14 01:01:43,1552496503,2019,3,14,1,1,43,14.7,84.0,...,84.500000,993.00,993.05,993.050000,80.0,80.0,80.0,992.6,992.5,992.500000
2,2019-03-14 01:02:45,1552496565,2019,3,14,1,2,45,14.7,84.0,...,84.000000,992.70,992.85,992.850000,80.0,80.0,80.0,992.8,992.7,992.700000
3,2019-03-14 01:03:44,1552496624,2019,3,14,1,3,44,14.6,85.0,...,84.500000,992.95,992.95,992.950000,80.0,80.0,80.0,992.7,992.7,992.700000
4,2019-03-14 01:04:42,1552496682,2019,3,14,1,4,42,14.6,85.0,...,84.666667,992.95,992.95,992.866667,80.0,80.0,80.0,992.6,992.6,992.666667

In [27]:
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)
data.head(60)

,datetime,time,year,month,day,hour,min,sec,outdoorTemp,outdoorHum,outdoorAtmo,indoorHum,indoorAtmo,temperature,outdoorTemp_60s_mean,outdoorTemp_90s_mean,outdoorTemp_120s_mean,outdoorHum_60s_mean,outdoorHum_90s_mean,outdoorHum_120s_mean,outdoorAtmo_60s_mean,outdoorAtmo_90s_mean,outdoorAtmo_120s_mean,indoorHum_60s_mean,indoorHum_90s_mean,indoorHum_120s_mean,indoorAtmo_60s_mean,indoorAtmo_90s_mean,indoorAtmo_120s_mean
0,2019-03-14 01:00:43,1552496443,2019,3,14,1,0,43,14.6,85.0,993.1,80.0,992.4,15.4,14.60,14.60,14.600000,85.0,85.0,85.000000,993.10,993.10,993.100000,80.0,80.0,80.000000,992.40,992.40,992.400000
1,2019-03-14 01:01:43,1552496503,2019,3,14,1,1,43,14.7,84.0,993.0,80.0,992.6,15.4,14.70,14.65,14.650000,84.0,84.5,84.500000,993.00,993.05,993.050000,80.0,80.0,80.000000,992.60,992.50,992.500000
2,2019-03-14 01:02:45,1552496565,2019,3,14,1,2,45,14.7,84.0,992.7,80.0,992.8,15.4,14.70,14.70,14.700000,84.0,84.0,84.000000,992.70,992.85,992.850000,80.0,80.0,80.000000,992.80,992.70,992.700000
3,2019-03-14 01:03:44,1552496624,2019,3,14,1,3,44,14.6,85.0,993.2,80.0,992.6,15.4,14.65,14.65,14.650000,84.5,84.5,84.500000,992.95,992.95,992.950000,80.0,80.0,80.000000,992.70,992.70,992.700000
4,2019-03-14 01:04:42,1552496682,2019,3,14,1,4,42,14.6,85.0,992.7,80.0,992.6,15.3,14.60,14.60,14.633333,85.0,85.0,84.666667,992.95,992.95,992.866667,80.0,80.0,80.000000,992.60,992.60,992.666667
5,2019-03-14 01:05:45,1552496745,2019,3,14,1,5,45,14.6,85.0,993.1,80.0,992.9,15.3,14.60,14.60,14.600000,85.0,85.0,85.000000,993.10,992.90,992.900000,80.0,80.0,80.000000,992.90,992.75,992.750000
6,2019-03-14 01:06:44,1552496804,2019,3,14,1,6,44,14.5,85.0,993.6,80.0,409.6,15.3,14.55,14.55,14.550000,85.0,85.0,85.000000,993.35,993.35,993.350000,80.0,80.0,80.000000,701.25,701.25,701.250000
7,2019-03-14 01:07:42,1552496862,2019,3,14,1,7,42,14.5,85.0,993.6,80.0,992.8,15.3,14.50,14.50,14.533333,85.0,85.0,85.000000,993.60,993.60,993.433333,80.0,80.0,80.000000,701.20,701.20,798.433333
8,2019-03-14 01:08:45,1552496925,2019,3,14,1,8,45,14.5,85.0,993.4,80.0,993.2,15.3,14.50,14.50,14.500000,85.0,85.0,85.000000,993.40,993.50,993.500000,80.0,80.0,80.000000,993.20,993.00,993.000000
9,2019-03-14 01:09:42,1552496982,2019,3,14,1,9,42,14.5,85.0,993.8,80.0,993.2,15.3,14.50,14.50,14.500000,85.0,85.0,85.000000,993.60,993.60,993.600000,80.0,80.0,80.000000,993.20,993.20,993.200000
10,2019-03-14 01:10:45,1552497045,2019,3,14,1,10,45,14.5,85.0,993.7,80.0,993.2,15.3,14.50,14.50,14.500000,85.0,85.0,85.000000,993.70,993.75,993.750000,80.0,80.0,80.000000,993.20,993.20,993.200000
11,2019-03-14 01:11:44,1552497104,2019,3,14,1,11,44,14.5,86.0,993.8,80.0,993.3,15.2,14.50,14.50,14.500000,85.5,85.5,85.500000,993.75,993.75,993.750000,80.0,80.0,80.000000,993.25,993.25,993.250000
12,2019-03-14 01:12:47,1552497167,2019,3,14,1,12,47,14.4,86.0,994.5,81.0,993.3,15.2,14.40,14.45,14.450000,86.0,86.0,86.000000,994.50,994.15,994.150000,81.0,80.5,80.500000,993.30,993.30,993.300000
13,2019-03-14 01:13:44,1552497224,2019,3,14,1,13,44,14.4,86.0,994.4,81.0,993.4,15.2,14.40,14.40,14.400000,86.0,86.0,86.000000,994.45,994.45,994.450000,81.0,81.0,81.000000,993.35,993.35,993.350000
14,2019-03-14 01:14:48,1552497288,2019,3,14,1,14,48,14.4,86.0,992.7,81.0,993.6,15.2,14.40,14.40,14.400000,86.0,86.0,86.000000,992.70,993.55,993.550000,81.0,81.0,81.000000,993.60,993.50,993.500000
15,2019-03-14 01:15:43,1552497343,2019,3,14,1,15,43,14.4,86.0,992.7,81.0,993.7,15.2,14.40,14.40,14.400000,86.0,86.0,86.000000,992.70,992.70,993.266667,81.0,81.0,81.000000,993.65,993.65,993.566667
16,2019-03-14 01:16:45,1552497405,2019,3,14,1,16,45,14.4,86.0,992.7,81.0,993.8,15.1,14.40,14.40,14.400000,86.0,86.0,86.000000,992.70,992.70,992.700000,81.0,81.0,81.000000,993.80,993.75,993.700000
17,2019-03-14 01:17:43,1552497463,2019,3,14,1,17,43,14.3,86.0,993.0,81.0,993.8,15.1,14.35,14.35,14.350000,86.0,86.0,86.000000,992.85,992.85,992.850000,81.0,81.0,81.000000,993.80,993.80,993.800000
18,2019-03-14 01:18:48,1552497528,2019,3,14,1,18,48,14.4,86.0,993.0,81.0,992.1,15.1,14.40,14.35,14.350000,86.0,86.0,86.000000,993.00,993.00,993.000000,81.0,81.0,81.000000,992.10,992.95,992.950000
19,2019-03-14 01:19:44,1552497584,2019,3,14,1,19,44,14.4,86.0,993.1,81.0,991.9,15.1,14.40,14.40,14.400000,86.0,86.0,86.000000,993.05,993.05,993.050000,81.0,81.0,81.000000,992.00,992.00,992.000000
20,2019-03-14 01:20:44,1552497644,2019,3,14,1,20,44,14.4,86.0,993.2,81.0,992.2,15.1,14.40,14.40,14.400000,86.0,86.0,86.000000,993.20,993.15,993.100000,81.0,81.0,81.000000,992.20,992.05,992.066667
21,2019-03-14 01:21:47,1552497707,2019,3,14,1,21,47,14.4,86.0,993.1,81.0,992.3,15.1,14.40,14.40,14.400000,86.0,86.0,86.000000,993.10,993.15,993.150000,81.0,81.0,81.000000,992.30,992.25,992.250000
22,2019-03-14 01:22:45,1552497765,2019,3,14,1,22,45,14.4,86.0,993.1,81.0,992.2,15.1,14.40,14.40,14.400000,86.0,86.0,86.000000,993.10,993.10,993.100000,81.0,81.0,81.000000,992.25,992.25,992.250000
23,2019-03-14 01:23:46,1552497826,2019,3,14,1,23,46,14.3,87.0,993.7,81.0,992.2,15.1,14.30,14.35,14.366667,87.0,86.5,86.333333,993.70,993.40,993.300000,81.0,81.0,81.000000,992.20,992.20,992.233333
24,2019-03-14 01:24:45,1552497885,2019,3,14,1,24,45,14.3,87.0,993.6,81.0,992.0,15.1,14.30,14.30,14.300000,87.0,87.0,87.000000,993.65,993.65,993.650000,81.0,81.0,81.000000,992.10,992.10,992.100000
25,2019-03-14 01:25:46,1552497946,2019,3,14,1,25,46,14.3,87.0,993.6,81.0,992.3,15.1,14.30,14.30,14.300000,87.0,87.0,87.000000,993.60,993.60,993.600000,81.0,81.0,81.000000,992.30,992.15,992.150000
26,2019-03-14 01:26:46,1552498006,2019,3,14,1,26,46,14.3,87.0,993.8,81.0,992.3,15.1,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.70,993.700000,81.0,81.0,81.000000,992.30,992.30,992.300000
27,2019-03-14 01:27:47,1552498067,2019,3,14,1,27,47,14.3,87.0,993.8,81.0,992.6,15.1,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.80,993.800000,81.0,81.0,81.000000,992.60,992.45,992.450000
28,2019-03-14 01:28:45,1552498125,2019,3,14,1,28,45,14.3,87.0,993.8,82.0,992.6,15.0,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.80,993.800000,81.5,81.5,81.333333,992.60,992.60,992.500000
29,2019-03-14 01:29:48,1552498188,2019,3,14,1,29,48,14.3,87.0,993.8,82.0,992.9,15.0,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.80,993.800000,82.0,82.0,82.000000,992.90,992.75,992.750000
30,2019-03-14 01:30:45,1552498245,2019,3,14,1,30,45,14.3,87.0,993.8,82.0,992.7,15.0,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.80,993.800000,82.0,82.0,82.000000,992.80,992.80,992.800000
31,2019-03-14 01:31:48,1552498308,2019,3,14,1,31,48,14.3,87.0,993.8,82.0,993.0,15.0,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.80,993.800000,82.0,82.0,82.000000,993.00,992.85,992.850000
32,2019-03-14 01:32:47,1552498367,2019,3,14,1,32,47,14.3,87.0,993.8,82.0,992.7,15.0,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.80,993.800000,82.0,82.0,82.000000,992.85,992.85,992.850000
33,2019-03-14 01:33:46,1552498426,2019,3,14,1,33,46,14.3,87.0,993.8,82.0,992.9,15.0,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.80,993.800000,82.0,82.0,82.000000,992.80,992.80,992.866667
34,2019-03-14 01:34:45,1552498485,2019,3,14,1,34,45,14.3,87.0,993.8,82.0,993.0,15.0,14.30,14.30,14.300000,87.0,87.0,87.000000,993.80,993.80,993.800000,82.0,82.0,82.000000,992.95,992.95,992.866667
35,2019-03-14 01:35:48,1552498548,2019,3,14,1,35,48,14.2,87.0,994.2,82.0,993.0,15.0,14.20,14.25,14.250000,87.0,87.0,87.000000,994.20,994.00,994.000000,82.0,82.0,82.000000,993.00,993.00,993.000000
36,2019-03-14 01:36:47,1552498607,2019,3,14,1,36,47,14.2,87.0,994.3,82.0,993.0,15.0,14.20,14.20,14.200000,87.0,87.0,87.000000,994.25,994.25,994.250000,82.0,82.0,82.000000,993.00,993.00,993.000000
37,2019-03-14 01:37:48,1552498668,2019,3,14,1,37,48,14.2,87.0,994.3,82.0,993.3,15.0,14.20,14.20,14.200000,87.0,87.0,87.000000,994.30,994.30,994.300000,82.0,82.0,82.000000,993.30,993.15,993.150000
38,2019-03-14 01:38:48,1552498728,2019,3,14,1,38,48,14.2,87.0,995.0,82.0,993.1,15.0,14.20,14.20,14.200000,87.0,87.0,87.000000,995.00,994.65,994.650000,82.0,82.0,82.000000,993.10,993.20,993.200000
39,2019-03-14 01:39:47,1552498787,2019,3,14,1,39,47,14.2,87.0,994.7,82.0,993.4,15.0,14.20,14.20,14.200000,87.0,87.0,87.000000,994.85,994.85,994.666667,82.0,82.0,82.000000,993.25,993.25,993.266667
40,2019-03-14 01:40:49,1552498849,2019,3,14,1,40,49,14.1,87.0,994.7,82.0,993.2,14.9,14.10,14.15,14.150000,87.0,87.0,87.000000,994.70,994.70,994.700000,82.0,82.0,82.000000,993.20,993.30,993.300000
41,2019-03-14 01:41:45,1552498905,2019,3,14,1,41,45,14.2,87.0,995.0,82.0,993.2,15.0,14.15,14.15,14.166667,87.0,87.0,87.000000,994.85,994.85,994.800000,82.0,82.0,82.000000,993.20,993.20,993.266667
42,2019-03-14 01:42:48,1552498968,2019,3,14,1,42,48,14.2,87.0,993.1,82.0,993.4,14.9,14.20,14.20,14.166667,87.0,87.0,87.000000,993.10,994.05,994.266667,82.0,82.0,82.000000,993.40,993.30,993.266667
43,2019-03-14 01:43:48,1552499028,2019,3,14,1,43,48,14.2,87.0,995.0,82.0,993.4,15.0,14.20,14.20,14.200000,87.0,87.0,87.000000,995.00,994.05,994.050000,82.0,82.0,82.000000,993.40,993.40,993.400000
44,2019-03-14 01:44:47,1552499087,2019,3,14,1,44,47,14.2,87.0,993.2,82.0,993.2,15.0,14.20,14.20,14.200000,87.0,87.0,87.000000,994.10,994.10,993.766667,82.0,82.0,82.000000,993.30,993.30,993.333333
45,2019-03-14 01:45:48,1552499148,2019,3,14,1,45,48,14.1,87.0,993.1,82.0,993.4,15.0,14.10,14.15,14.150000,87.0,87.0,87.000000,993.10,993.15,993.150000,82.0,82.0,82.000000,993.40,993.30,993.300000
46,2019-03-14 01:46:48,1552499208,2019,3,14,1,46,48,14.1,87.0,993.2,82.0,993.2,14.9,14.10,14.10,14.100000,87.0,87.0,87.000000,993.20,993.15,993.150000,82.0,82.0,82.000000,993.20,993.30,993.300000
47,2019-03-14 01:47:48,1552499268,2019,3,14,1,47,48,14.1,87.0,993.2,82.0,993.5,14.9,14.10,14.10,14.100000,87.0,87.0,87.000000,993.20,993.20,993.200000,82.0,82.0,82.000000,993.50,993.35,993.350000
48,2019-03-14 01:48:48,1552499328,2019,3,14,1,48,48,14.1,87.0,993.6,82.0,993.4,14.9,14.10,14.10,14.100000,87.0,87.0,87.000000,993.60,993.40,993.400000,82.0,82.0,82.000000,993.40,993.45,993.450000
49,2019-03-14 01:49:49,1552499389,2019,3,14,1,49,49,14.1,87.0,993.1,82.0,993.4,14.9,14.10,14.10,14.100000,87.0,87.0,87.000000,993.10,993.35,993.350000,82.0,82.0,82.000000,993.40,993.40,993.400000
50,2019-03-14 01:50:48,1552499448,2019,3,14,1,50,48,14.1,87.0,993.0,82.0,993.2,14.9,14.10,14.10,14.100000,87.0,87.0,87.000000,993.05,993.05,993.050000,82.0,82.0,82.000000,993.30,993.30,993.300000
51,2019-03-14 01:51:50,1552499510,2019,3,14,1,51,50,14.1,87.0,993.2,82.0,993.4,15.0,14.10,14.10,14.100000,87.0,87.0,87.000000,993.20,993.10,993.100000,82.0,82.0,82.000000,993.40,993.30,993.300000
52,2019-03-14 01:52:48,1552499568,2019,3,14,1,52,48,14.1,87.0,993.5,81.0,993.4,15.0,14.10,14.10,14.100000,87.0,87.0,87.000000,993.35,993.35,993.350000,81.5,81.5,81.500000,993.40,993.40,993.400000
53,2019-03-14 01:53:46,1552499626,2019,3,14,1,53,46,14.0,87.0,993.5,81.0,993.5,14.9,14.05,14.05,14.066667,87.0,87.0,87.000000,993.50,993.50,993.400000,81.0,81.0,81.333333,993.45,993.45,993.433333
54,2019-03-14 01:55:50,1552499750,2019,3,14,1,55,50,13.9,87.0,993.6,82.0,993.6,14.8,13.90,13.90,13.900000,87.0,87.0,87.000000,993.60,993.60,993.600000,82.0,82.0,82.000000,993.60,993.60,993.600000
55,2019-03-14 01:56:47,1552499807,2019,3,14,1,56,47,13.9,87.0,994.4,82.0,410.1,14.8,13.90,13.90,13.900000,87.0,87.0,87.000000,994.00,994.00,994.000000,82.0,82.0,82.000000,701.85,701.85,701.850000
56,2019-03-14 01:57:50,1552499870,2019,3,14,1,57,50,13.8,87.0,994.4,81.0,993.6,14.8,13.80,13.85,13.850000,87.0,87.0,87.000000,994.40,994.40,994.400000,81.0,81.5,81.500000,993.60,701.85,701.850000
57,2019-03-14 01:58:48,1552499928,2019,3,14,1,58,48,13.8,87.0,994.7,81.0,993.9,14.8,13.80,13.80,13.800000,87.0,87.0,87.000000,994.55,994.55,994.550000,81.0,81.0,81.000000,993.75,993.75,993.750000
58,2019-03-14 01:59:50,1552499990,2019,3,14,1,59,50,13.8,88.0,994.6,82.0,993.8,14.7,13.80,13.80,13.800000,88.0,87.5,87.500000,994.60,994.65,994.650000,82.0,81.5,81.500000,993.80,993.85,993.850000
59,2019-03-14 02:00:48,1552500048,2019,3,14,2,0,48,13.7,88.0,992.6,82.0,993.8,14.7,13.75,13.75,13.750000,88.0,88.0,88.000000,993.60,993.60,993.600000,82.0,82.0,82.000000,993.80,993.80,993.800000

In [25]:
train.shape

(24807, 29)

In [24]:
train_cols

['outdoorTemp',
 'outdoorHum',
 'outdoorAtmo',
 'indoorHum',
 'indoorAtmo',
 'temperature',
 'outdoorTemp_60s_mean',
 'outdoorTemp_90s_mean',
 'outdoorTemp_120s_mean',
 'outdoorHum_60s_mean',
 'outdoorHum_90s_mean',
 'outdoorHum_120s_mean',
 'outdoorAtmo_60s_mean',
 'outdoorAtmo_90s_mean',
 'outdoorAtmo_120s_mean',
 'indoorHum_60s_mean',
 'indoorHum_90s_mean',
 'indoorHum_120s_mean',
 'indoorAtmo_60s_mean',
 'indoorAtmo_90s_mean',
 'indoorAtmo_120s_mean']

In [20]:
model_valid = lgb.train(params,
                        train_data,
                        valid_sets=[train_data, valid_data],
                        num_boost_round=100000,
                        early_stopping_rounds=200,
                        verbose_eval=200)

Training until validation scores don't improve for 200 rounds
[200]	training's l2: 0.000156642	valid_1's l2: 0.000702914
[400]	training's l2: 5.89784e-05	valid_1's l2: 0.00060594
[600]	training's l2: 3.04612e-05	valid_1's l2: 0.000572647
[800]	training's l2: 1.83483e-05	valid_1's l2: 0.000557668
[1000]	training's l2: 1.22435e-05	valid_1's l2: 0.000551739
[1200]	training's l2: 8.87489e-06	valid_1's l2: 0.000547117
[1400]	training's l2: 6.78607e-06	valid_1's l2: 0.000542942
[1600]	training's l2: 5.42172e-06	valid_1's l2: 0.000540853
[1800]	training's l2: 4.5055e-06	valid_1's l2: 0.000539424
[2000]	training's l2: 3.81845e-06	valid_1's l2: 0.000538201
[2200]	training's l2: 3.36744e-06	valid_1's l2: 0.000537288
[2400]	training's l2: 2.98255e-06	valid_1's l2: 0.000536518
[2600]	training's l2: 2.70894e-06	valid_1's l2: 0.000535733
[2800]	training's l2: 2.48372e-06	valid_1's l2: 0.000535737
[3000]	training's l2: 2.31674e-06	valid_1's l2: 0.000535161
[3200]	training's l2: 2.18673e-06	valid_1's l2: 0.000534565
[3400]	training's l2: 2.05961e-06	valid_1's l2: 0.000534353
[3600]	training's l2: 1.96528e-06	valid_1's l2: 0.000534235
[3800]	training's l2: 1.89642e-06	valid_1's l2: 0.000534066
[4000]	training's l2: 1.82301e-06	valid_1's l2: 0.000533733
[4200]	training's l2: 1.77301e-06	valid_1's l2: 0.00053382
[4400]	training's l2: 1.72756e-06	valid_1's l2: 0.000533532
[4600]	training's l2: 1.68539e-06	valid_1's l2: 0.00053317
[4800]	training's l2: 1.64507e-06	valid_1's l2: 0.000533261
Early stopping, best iteration is:
[4715]	training's l2: 1.6625e-06	valid_1's l2: 0.000533012

In [21]:
model = lgb.train(params,
                  train_all,
                  num_boost_round=model_valid.best_iteration + 20)

In [22]:
pred = model.predict(test[train_cols])

In [23]:
sub['temperature'] = pred
sub.to_csv('../sub/sub_lgb_baseline.csv', index=False)