In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 数据集7：entprise_info.csv
# 带标注的企业数据。每一行代表一个企业，每一行2列，其中id列为企业唯一标识，label列为标注（1：有非法集资风险，0：无非法集资风险），列之间采用“,”分隔符分割。
# 训练集 id 及标签
entprise_info = pd.read_csv('../../input/train/entprise_info.csv')
print(entprise_info.shape)
entprise_info.head()

(14865, 2)

                                                 id  label
0  59b38c56de3836831ff90a77d892a13523b7494f6ed09ff7      1
1  da8691b210adb3f6be8064e006f220070565db287275ad38      0
2  82750f1b9d122350918121f97c99bf96e11aa24ee91504a9      0
3  f000950527a6feb6b2c6de6f85c1e7438ba5590be931e2ec      0
4  f1c1045b13d1832927e3743e49d2917f2d98424f0849a373      0

In [3]:
# 数据集8（验证集）：entprise_evaluate.csv
# 未标注企业数据。参赛队伍需提交的最终结果数据集，每一行代表一个企业，每一行有 2 列, 其中id列为企业唯一标识，score列为空，列之间采用“,”分隔符分割。
# 测试集 id score
entprise_evaluate = pd.read_csv('../../input/entprise_evaluate.csv')
entprise_evaluate.rename(columns={'score': 'label'}, inplace=True)
print(entprise_evaluate.shape)
entprise_evaluate.head()

(10000, 2)

                                                 id  label
0  82750f1b9d1223508ee329d47e27d35176c93eb9f35e9c1a    NaN
1  f000950527a6feb670cc1c87c2025f3922aaa4a0206a0a33    NaN
2  e9f7b28ec10e04700ef4db75a494f9a1e8e8b09555e6afa1    NaN
3  beb4aaaa89e0a0ae9d77bd5d7665be6342f552f51840cf19    NaN
4  e9f7b28ec10e0470ee4172cec0133b6826c34f27d3dff204    NaN

In [4]:
data = pd.concat([entprise_info, entprise_evaluate], axis=0, ignore_index=True)

In [5]:
data.shape

(24865, 2)

In [6]:
data['id'].nunique()

24865

In [7]:
data.to_csv('../../input/data.csv', index=False)